<footer class="footer">
  <div class="row">
    <img class="icon" src="assets/facebook_icon.png">
    <img class="icon" src="assets/instagram_icon.png">
    <img class="icon" src="assets/twitter_icon.png">
    <img class="icon" src="assets/youtube_icon.png">
  </div>
  <ul class="row footer-stuff transparent-stuff">
    <li class="column-1 row-1"><a href="#">Audiodescription</a></li>
    <li class="column-1 row-2"><a href="#">Relation investisseurs</a></li>
    <li class="column-1 row-3"><a href="#">Confidentialité</a></li>
    <li class="column-1 row-4"><a href="#">Nous contacter</a></li>

    <li class="column-2 row-1"><a href="#">Centre d'aide</a></li>
    <li class="column-2 row-2"><a href="#">Recrutement</a></li>
    <li class="column-2 row-3"><a href="#">Informations légales</a></li>

    <li class="column-3 row-1"><a href="#">Cartes cadeaux</a></li>
    <li class="column-3 row-2"><a href="#">Boutique Netflix</a></li>
    <li class="column-3 row-3"><a href="#">Préférence de cookies</a></li>

    <li class="column-4 row-1"><a href="#">Presse</a></li>
    <li class="column-4 row-2"><a href="#">Conditions d'utilisation</a></li>
    <li class="column-4 row-3"><a href="#">Mentions légales</a></li>
  </ul>
  <div class="row transparent-stuff">
    <div class="square-frontier">
      <p> Code de service </p>
    </div>
  </div>
  <div class="row transparent-stuff">
    <p class="copyright">1997-2003 Netflix, Inc.</p>
  </div>
</footer>
