<footer class="footer">
  <div class="row">
    <a href="#"><img class="icon" src="assets/facebook_icon.png" alt="facebook"></a>
    <a href="#"><img class="icon" src="assets/instagram_icon.png" alt="instagram"></a>
    <a href="#"><img class="icon" src="assets/twitter_icon.png" alt="twitter"></a>
    <a href="#"><img class="icon" src="assets/youtube_icon.png" alt="youtube"></a>
  </div>
  <ul class="row footer-stuff transparent-stuff">
    <li><a href="#">Audiodescription</a></li>
    <li><a href="#">Relation investisseurs</a></li>
    <li><a href="#">Confidentialité</a></li>
    <li><a href="#">Nous contacter</a></li>
    <li><a href="#">Centre d'aide</a></li>
    <li><a href="#">Recrutement</a></li>
    <li><a href="#">Informations légales</a></li>
    <li><a href="#">Cartes cadeaux</a></li>
    <li><a href="#">Boutique Netflix</a></li>
    <li><a href="#">Préférence de cookies</a></li>
    <li><a href="#">Presse</a></li>
    <li><a href="#">Conditions d'utilisation</a></li>
    <li><a href="#">Mentions légales</a></li>
  </ul>
  <div class="row transparent-stuff">
    <div class="square-frontier">
      <p> Code de service </p>
    </div>
  </div>
  <div class="row transparent-stuff">
    <p class="copyright">1997-2003 Netflix, Inc.</p>
  </div>
</footer>
