<div class="container">
  <div class="hero-section">
    <div class="media-information">
      <h2 *ngIf="headliner">
        {{ headliner.title }}
      </h2>
      <p class="synopsis">
        {{ overview }}
      </p>
      <div class="action">
        <button class="play">
          <img class="play-logo" src="assets/play_icon.png">
          <span>Lecture</span>
        </button>
        <button class="info">
          <img class="info-logo" src="assets/info_icon.png">
          <span>Plus d'info</span>
        </button>
      </div>
    </div>
  </div>
  <div>

  </div>
</div>
