<nav>
  <div class="col" id="logo">
    <a href="#">
      <img class="logo-png" src="assets/100078_netflix_icon.png" alt="netflix logo">
    </a>
  </div>

  <button id="menu-btn">
    <img class="menu-icon" src="assets/menu.png" alt="menu">
  </button>

  <div class="col container-sm" id="navigation">
      <ul id="navigation-items" class="container-width-sm">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Série</a>
        </li>
        <li>
          <a href="#">Film</a>
        </li>
        <li>
          <a href="#">Ma liste</a>
        </li>
      </ul>
  </div>
  <div class="col" id="search-icon">
    <img class="menu-icon" src="assets/search_icon.png" alt="search">
  </div>
  <div class="col container-sm" id="avatar-menu">
    <div class="avatar-width container-width-sm">
      <div class="avatar-support">
        <img class="menu-icon" src="assets/avatar.png" alt="avatar">
      </div>
      <p>{{ yourName }}</p>
    </div>
  </div>
</nav>
