<nav class="navbar">
  <div class="navbar-column" id="logo">
    <a href="#">
      <img class="logo-png" src="assets/100078_netflix_icon.png">
    </a>
  </div>
  <div class="navbar-column" id="navigation">
      <ul id="navigation-items">
        <li>
          <a href="#">Accueil</a>
        </li>
        <li>
          <a href="#">Série</a>
        </li>
        <li>
          <a href="#">Film</a>
        </li>
        <li>
          <a href="#">Ma liste</a>
        </li>
      </ul>
  </div>
  <div class="navbar-column" id="other-stuff">
    <ul id="others-stuff-items">
      <li>
        <img style="width: 30px; height: auto;" src="assets/search_icon.png">
      </li>
      <li class="avatar-menu">
        <div class="avatar-support">
          <img class="avatar-logo" src="assets/avatar.png">
        </div>
        <a type="button" href="#">
          <img class="down-arrow" src="assets/down_arrow_icon.png">
        </a>
      </li>
    </ul>
  </div>

</nav>
