.navbar{
  display: flex;
  background-color: black;
  columns: 3;
  padding-left: 50px;
  padding-right: 50px;
  left: 0;
  top: 0;
  align-items: center;
  height: 80px;
}

.navbar-column{
  flex: auto;
  display: flex;
  height: 100%;
  align-items: center ;
}

#logo{
  flex: 0;
  margin-right: 30px;
}

#other-stuff{
  flex: 0;
}

#navigation{
  flex-grow: 1;
}

#navigation-items{
  display: flex;
  column-gap: 20px;
  column-count: 4;
  margin: 2px;
  padding: 2px;
}

#others-stuff-items{
  column-count: 2;
}

.logo-png{
  width: 100px;
  height: 80px;
}

li{
  list-style: none;
  text-align: center;
}

li a{
  color: white;
  text-decoration: none;
}

.avatar-support{
  background-color:aliceblue;
  border-radius: 6px;
}

.avatar-menu{
  column-count: 2;
  column-gap: 2px;
  align-items: center;
  display: flex;
}

.avatar-menu a{
  display: flex;
  align-items: center;
}

.avatar-logo{
  width: 30px;
}

.down-arrow{
  width: 20px;
}
