/* You can add global styles to this file, and also import other style files */
html, body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  width: auto;
  background-color: rgb(20, 20, 20);

  &:before {
    content: "";
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(20,20,20,0) 15%);
    position: absolute;
    z-index: 1;
    inset: 0;
  }

  &:after {
      content: "";
      background: linear-gradient(90deg, rgba(20,20,20,0) 85%, rgba(20,20,20,1) 100%);
      position: absolute;
      z-index: 1;
      inset: 0;
  }
}

li {
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}
